#grid{
  display: grid;
  grid-template-columns: 350px 500px 350px;
  grid-template-rows: auto;
  align-content: center;
}


#images{
  justify-items: center;
  width: 400px;
  height: 400px;
}

body {
  font-family: 'Indie Flower', cursive;
  justify-items: center;
}


