#grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  align-content: center;
}


#images{
  justify-items: center;
  width: 400px;
  height: 400px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-items: center;
}


button {
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  text-align: center;
  width: 80px;
  font-family: inherit;
  font-size: 14px;
}

button.delete {
  background-color: rgb(100, 41, 69);
}

button.start {
  background-color: rgb(57, 128, 92);
}

button.save {
  background-color: rgb(41, 76, 100);
}

button.recover {
  background-color: rgb(42, 100, 104);
}

button:hover {
  background-color: black;
}

h2, h1 {
  text-align: center;
}

#features {
  margin-left: 30px;
  margin-top: 70px;
}

#minimapa {
  width: 200px;
}

#minimap {
  width: 100%;
  height: auto;
}

#popup_box {
 visibility:hidden;
 display:none;
 width:30%;
 background-color:rgb(100, 46, 62);
 position:fixed;
 left:35%;
 top:30%;
 border-radius:10px;
 border:2px solid lightcoral;
 box-shadow:0px 0px 10px 0px lightcoral;
}

#popup_box #info_text {
  margin-left: 50px;
  padding:10px;
  clear:both;
  background-color: rgb(100, 46, 62);
  color:white;
}

#popup_box #submit_button {
  font-family: inherit;
 margin-top: 15px;
 width:70px;
 height:30px;
 line-height:30px;
 font-size:16px;
 background-color:white;
 color:rgb(100, 46, 62);
 border:none;
 margin-bottom:10px;
 border-radius:2px;
 cursor:pointer;
}

.fight {
  background-color: rgb(94, 59, 46);
  height: 60px;
  width: 130px;
  margin-left: 90px;
  margin-top: 40px;
}
